<%- include('../partials/header', { title: 'New Star' }) %>

<h2>Create Star</h2>
<form action="/stars-ui" method="POST" enctype="multipart/form-data">
  <label>Name: <input type="text" name="name" required></label><br>
  <label>Type: <input type="text" name="type"></label><br>
  <label>Size: <input type="text" name="size"></label><br>
  <label>Luminosity: <input type="text" name="luminosity"></label><br>
  <label>Description: <textarea name="description"></textarea></label><br>
  <label>Galaxy:
    <select name="galaxyId" required>
      <% galaxies.forEach(g => { %>
        <option value="<%= g.id %>"><%= g.name %></option>
      <% }) %>
    </select>
  </label><br>
  <label>Image: <input type="file" name="image"></label><br>
  <button type="submit">Create</button>
</form>

<%- include('../partials/footer') %>
